

/* Style sheet for the SQLite Website and Documentation */
* {box-sizing:border-box;}

html {
	quotes: "“" "”";
}

body {
	color: #FFF;
	background: #1E1E1E;
	padding: 1em;
	font-size: 1rem;
	line-height: 1.47059;
	font-weight: 400;
	letter-spacing: -.022em;
	font-family: "SF Pro Text",system-ui,-apple-system,BlinkMacSystemFont,"Helvetica Neue","Helvetica","Arial",sans-serif;
}

.showhide > li > a {
  color: #fff !important;
}

/* Horizonal rules */
.xhr {
  /* color: #044a64; */
  height: 2px;
}

.nosearch a h2 {
  display: none
}

h1[align=center] {
  text-align: left;
}

svg {
  filter: invert();
}

tr {
  background: none !important;
}

/* Hyperlinks that look like buttons */
.button {
  background-color: #ddd;
  border: 2px solid #aaa;
  text-decoration: none;
  border-radius: 4px;
  padding: 0 1ex 0 1ex;
  white-space: nowrap;
  font-size: 90%;
  line-height: 150%;
}

/* Sidebars on the right-hand side of the screen */
.rightsidebar {
  padding-right: 1ex;
  margin: 1ex;
  float: right;
}

/* Border box */
.border2px {
  border: 2px solid #044a64;
}

.hdrfont {
  font-weight:bold;
  font-size:115%;
}
.nounderline a { text-decoration: none }

a { color:#2997FF; }
a:link, a:visited { text-decoration: none; }
a:hover { text-decoration: underline; }

.logo { float: left; margin:1px; }
.tagline {
  float:right;
  text-align:right;
  font-style:italic;
  width:300px;
  margin:12px;
  margin-top:58px;
}

/* Style common to both the main and submenu */
.menu::before {
  content: "";
  clear: both;     /* Clear the Logo and TagLine */
  display: block;
}
.menu ul {
  margin: 0;
  list-style-type: none;
  padding: 0;
  overflow: hidden;
}
.menu ul li {
  color: white;
}
.menu ul li a {
  display: block;
  color: white;
  text-align: center;
  padding: 0.7ex 1.4ex;
  text-decoration: none;
}

/* Styling specific to the main menu */
.mainmenu ul {
  background-color: #044a64;
  border-radius: 8px;
}
.mainmenu ul li {
  float: left;
}
.mainmenu ul li.search {
  float: right;
}

/* Styling specific to the submenu */
.submenu {
  display: none;
}
.submenu ul {
  color: white;
}
.submenu ul li {
  float: none;
  border-radius: 8px;
  background-color: #0482c4;
  border-top: 2px solid white;
}

/* Styling for the search menu */
.searchmenu {
  width: 100%;
  text-align: right;
  display: none;
  float: none;
  padding: 1ex;
  background-color: #0482c4;
  border-radius: 8px;
}

/* Add the "mobileonly" class to any elements that should be visible
** on narrow-screen mobile devices only */
@media screen and (min-width: 600px){
  /* Settings for wide desktop screens */
  .mobileonly {display: none;}
}
/* Add the "desktoponly" class to any elements that should be visible
** on desktops with at least 600 pixels of horizontal space. */
@media screen and (max-width: 600px){
  /* Settings for narrow mobile screens */
  .desktoponly {display: none;}
}
/* Add the "wideonly" class to any elements that should be visible
** on wide-screen desktops with  */
@media screen and (max-width: 800px){
  /* Settings for screens that are less than 800px wide */
  .wideonly {display: none;}
}

.content    { margin: 5%; }
.content dt { font-weight:bold; }
.content dd { margin-bottom: 25px; margin-left:20%; }
.content ul { padding:0px; padding-left: 15px; margin:0px; }

/* Things for "fancyformat" documents start here. */
.fancy img+p {font-style:italic}

blockquote {
  margin:0
}

pre {

  overflow: auto;
  -webkit-overflow-scrolling: auto;
  white-space: pre;
  word-wrap:normal;
border-radius: 15px;
background: var(--background,var(--color-code-background));
border-color: var(--color-grid);
color: var(--text,var(--color-code-plain));
border-radius: 22px;
border-style: solid;
border-width: 0;
padding: 8px 14px;
speak: literal-punctuation;
line-height: 25px;
-webkit-mask-image: -webkit-radial-gradient(#fff,#000);
font-size: 1em;
font-weight: 400;
font-style: normal;


}

body {
  padding-bottom:40px;
  max-width: 820px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 80px;
  padding-right: 80px;
  box-sizing:border-box
}

@media print {
  body {
      padding-left: 0;
      padding-right: 0;
      max-width:none
  }
}

@media only screen and (min-width: 1251px) {
  body {
      max-width:980px
  }
}

@media only screen and (min-width: 1500px) {
  body {
      max-width:1080px
  }
}

@media only screen and (max-width: 735px) {
  body {
      width: 87.5%;
      padding-left: 0;
      padding-right:0
  }
}

*[style="background-color: #ffd0d0;"],
*[style="background-color: #ffff60;"],
*[style="background-color: #f0e0ff;"] {
  -moz-column-break-inside: avoid;
  break-inside: avoid;
  border-radius: var(--aside-border-radius, 15px);
  border-style: var(--aside-border-style, solid);
  border-width: var(--aside-border-width, 1px 1px 1px 1px);
  padding:.94118rem
}

*[style="background-color: #ffd0d0;"] {
  background-color: var(--color-aside-deprecated-background) !important;
  border-color: var(--color-aside-deprecated-border);
  box-shadow:0 0 1px 0 var(--color-aside-deprecated-border) inset, 0 0 1px 0 var(--color-aside-deprecated-border)
}

*[style="background-color: #ffd0d0;"] b {
  color:var(--color-aside-deprecated)
}

*[style="background-color: #ffff60;"] {
  background-color: var(--color-aside-warning-background) !important;
  border-color: var(--color-aside-warning-border);
  box-shadow:0 0 1px 0 var(--color-aside-warning-border) inset, 0 0 1px 0 var(--color-aside-warning-border)
}

*[style="background-color: #ffff60;"] b {
color:var(--color-aside-warning)
}

*[style="background-color: #f0e0ff;"] {
  background-color: var(--color-aside-tip-background) !important;
  border-color: var(--color-aside-tip-border);
  box-shadow:0 0 1px 0 var(--color-aside-tip-border) inset, 0 0 1px 0 var(--color-aside-tip-border)
}

*[style="background-color: #f0e0ff;"] b {
color:var(--color-aside-tip)
}


/* .fancy .codeblock i { color: darkblue; } */
.fancy h1,.fancy h2,.fancy h3,.fancy h4 {font-weight:normal;}
.fancy th {text-align:left;border-bottom:solid 1px #444}
.fancy th, .fancy td {padding: 0.2em 1ex; vertical-align:top}
.toct { color: #044a64 ! important; }
#toc_sub a        { color: #044a64; text-decoration: none }
#toc_sub { display: none; margin-top: 1em; }
.fancy .todo         { color: #AA3333 ; font-style : italic }
.fancy .todo:before  { content: 'TODO:' }
.fancy p.todo        { border: solid #AA3333 1px; padding: 1ex }
.fancy img { display:block; }
.fancy :link:hover, .fancy :visited:hover { background: wheat }
.fancy_title {
  font-size: 2em;
  /* text-align: center; */
  /* color: #044a64; */
}
.fancy_toc {
  margin-top: 1em;
  display:none
}
.fancy_toc > a {
  margin: 1em;
  margin-left: 0;
  font-size: 1.5em;
  color: #044a64;
  text-decoration: none;
  cursor: pointer;
}
@media screen and (min-width: 600px){
  /* Indentation amounts for non-mobile screens, 600 pixels or wider */
  .fancy p,.fancy ul,.fancy ol,.fancy dl { margin: 1em 0 }
  .fancy li p { margin: 1em 0 
  .toct {margin-left:4ex;}
  .fancy-toc1 {margin-left:6ex;}
  .fancy-toc2 {margin-left:12ex;}
  .fancy-toc3 {margin-left:18ex;}
  .fancy-toc4 {margin-left:24ex;}
  .fancy-toc5 {margin-left:30ex;}
  .fancy-toc6 {margin-left:36ex;}
  .fancy .imgcontainer {margin: 1em 0}
}
@media screen and (max-width: 600px){
  /* Indentation amounts for narrow mobile screens */
  .toct {margin-left:0;}
  .fancy-toc1 {padding-left:4ex;text-indent:-2ex;}
  .fancy-toc2 {padding-left:8ex;text-indent:-4ex;}
  .fancy-toc3 {padding-left:12ex;text-indent:-6ex;}
  .fancy-toc4 {padding-left:16ex;text-indent:-8ex;}
  .fancy-toc5 {padding-left:20ex;text-indent:-10ex;}
  .fancy-toc6 {padding-left:24ex;text-indent:-12ex;}
  .lessindent {padding-left: 1em; margin-left: 0;}
}
/* End of "fancyformat" specific rules. */

/* <ul> elements used for multi-column lists */
.multicol_list {padding-left:1em;margin-left:0;}

.yyterm {
  background: #fff;
  border: 1px solid #000;
  border-radius: 11px;
  padding-left: 4px;
  padding-right: 4px;
  line-height: 125%;
}
.yynonterm {
  background: #fff;
  border: 1px solid #000;
  padding-left: 2px;
  padding-right: 2px;
  line-height: 125%;
}

/* Container for an image */
.imgcontainer img {
  max-height: 100%;
  max-width: 100%;
}

/* Default fill and stroke for SVG paths */
polygon { fill: black; stroke:#111111; stroke-width:1 }
path { fill: none; stroke:#111111; stroke-width:1 }

.doccat a {
  color: #044a64 ;
  text-decoration: none;
}
.doccat h {
  font-weight: bold;
}
.doccat h a {
  font-size: smaller;
}
.doccat {
  padding-left: 2ex;
  padding-right: 2ex;
  white-space:nowrap;
}
.doccat li {
  list-style-type: none;
  font-size: smaller;
  line-height: 150%; 
}
.doccat ul {
  margin-top: 0.5em;
}

.footer {
  padding-top: 2px;
  padding-bottom: 1px;
  border-top: 2px solid #044a64;
}

th.sort:after {
  margin-left: .4em;
  cursor: pointer;
  text-shadow: 0 0 0 #000; /* Makes arrow darker */
}
th.sort.none:after {
  content: '\2666';
}
th.sort.asc:after {
  content: '\2193';
}
th.sort.desc:after {
  content: '\2191'
}

div.columns {
  padding: 0 2em 0 2em;
  max-width: 2000px;
}
div.columns > ul {
  margin: 0;
  padding: 0 0 0 1em;
  list-style-type: none;
  padding: 10px;
  margin: 0px;
  white-space: nowrap;
}
div.columns > ul li:first-child {
  margin-top:0px;
}
.columns li {
  break-inside: avoid;
  page-break-inside: avoid;
}

body {
  --color-article-background: var(--color-fill-tertiary);
  --color-article-body-background: var(--color-fill);
  --color-aside-deprecated: var(--color-figure-gray);
  --color-aside-experiment: var(--color-figure-gray);
  --color-aside-experiment-background: var(--color-fill-gray-secondary);
  --color-aside-experiment-border: var(--color-figure-light-gray);
  --color-aside-important: var(--color-figure-gray);
  --color-aside-important-background: var(--color-fill-gray-secondary);
  --color-aside-important-border: var(--color-figure-light-gray);
  --color-aside-note: var(--color-figure-gray);
  --color-aside-note-background: var(--color-fill-gray-secondary);
  --color-aside-tip: var(--color-figure-gray);
  --color-aside-tip-background: var(--color-fill-gray-secondary);
  --color-aside-tip-border: var(--color-figure-light-gray);
  --color-aside-warning: var(--color-figure-gray);
  --color-badge-default: var(--color-figure-light-gray);
  --color-badge-beta: var(--color-figure-gray-tertiary);
  --color-badge-deprecated: var(--color-figure-orange);
  --color-badge-dark-default: #f5f5f7;
  --color-badge-dark-beta: #6e6e73;
  --color-badge-dark-deprecated: #f56300;
  --color-button-background: var(--color-fill-blue);
  --color-button-background-active: #06c;
  --color-button-background-hover: var(--color-figure-blue);
  --color-button-text: #fff;
  --color-call-to-action-background: var(--color-fill-secondary);
  --color-changes-added: var(--color-figure-light-gray);
  --color-changes-added-hover: var(--color-figure-light-gray);
  --color-changes-deprecated: var(--color-figure-light-gray);
  --color-changes-deprecated-hover: var(--color-figure-light-gray);
  --color-changes-modified: var(--color-figure-light-gray);
  --color-changes-modified-hover: var(--color-figure-light-gray);
  --color-code-background: var(--color-fill-secondary);
  --color-code-collapsible-background: var(--color-fill-tertiary);
  --color-code-collapsible-text: var(--color-figure-gray-secondary-alt);
  --color-code-line-highlight: rgba(0, 102, 204, 0.08);
  --color-code-line-highlight-border: var(--color-figure-blue);
  --color-code-plain: var(--color-figure-gray);
  --color-dropdown-background: hsla(0, 0%, 100%, 0.8);
  --color-dropdown-border: #1d1d1f;
  --color-dropdown-option-text: #6e6e73;
  --color-dropdown-text: #1d1d1f;
  --color-dropdown-dark-background: hsla(0, 0%, 100%, 0.1);
  --color-dropdown-dark-border: rgba(210, 210, 215, 0.2);
  --color-dropdown-dark-option-text: #86868b;
  --color-dropdown-dark-text: #f5f5f7;
  --color-eyebrow: var(--color-figure-gray-secondary);
  --color-focus-border-color: var(--color-fill-blue);
  --color-focus-color: rgba(0, 125, 250, 0.6);
  --color-form-error: var(--color-figure-red);
  --color-form-error-background: var(--color-fill-red-secondary);
  --color-form-valid: var(--color-figure-green);
  --color-form-valid-background: var(--color-fill-green-secondary);
  --color-generic-modal-background: var(--color-fill);
  --color-grid: var(--color-fill-gray);
  --color-header-text: var(--color-figure-gray);
  --color-hero-eyebrow: #86868b;
  --color-link: var(--color-figure-blue);
  --color-loading-placeholder-background: var(--color-fill);
  --color-nav-color: #515154;
  --color-nav-current-link: rgba(29, 29, 31, 0.6);
  --color-nav-expanded: #fff;
  --color-nav-hierarchy-collapse-background: #d2d2d7;
  --color-nav-hierarchy-collapse-borders: #86868b;
  --color-nav-hierarchy-item-borders: #86868b;
  --color-nav-keyline: rgba(29, 29, 31, 0.2);
  --color-nav-link-color: #1d1d1f;
  --color-nav-link-color-hover: #06c;
  --color-nav-outlines: #1d1d1f;
  --color-nav-rule: rgba(210, 210, 215, 0.5);
  --color-nav-solid-background: #fff;
  --color-nav-sticking-expanded-keyline: rgba(29, 29, 31, 0.1);
  --color-nav-stuck: hsla(0, 0%, 100%, 0.9);
  --color-nav-uiblur-expanded: hsla(0, 0%, 100%, 0.9);
  --color-nav-uiblur-stuck: hsla(0, 0%, 100%, 0.7);
  --color-nav-root-subhead: var(--color-tutorials-teal);
  --color-nav-dark-border-top-color: hsla(0, 0%, 100%, 0.4);
  --color-nav-dark-color: #a1a1a6;
  --color-nav-dark-current-link: rgba(245, 245, 247, 0.6);
  --color-nav-dark-expanded: #1d1d1f;
  --color-nav-dark-hierarchy-collapse-background: #424245;
  --color-nav-dark-hierarchy-collapse-borders: #6e6e73;
  --color-nav-dark-hierarchy-item-borders: #424245;
  --color-nav-dark-keyline: rgba(66, 66, 69, 0.95);
  --color-nav-dark-link-color: #f5f5f7;
  --color-nav-dark-link-color-hover: #2997ff;
  --color-nav-dark-outlines: #f5f5f7;
  --color-nav-dark-rule: #f5f5f7;
  --color-nav-dark-solid-background: #000;
  --color-nav-dark-sticking-expanded-keyline: rgba(66, 66, 69, 0.7);
  --color-nav-dark-stuck: rgba(29, 29, 31, 0.9);
  --color-nav-dark-uiblur-expanded: rgba(29, 29, 31, 0.9);
  --color-nav-dark-uiblur-stuck: rgba(29, 29, 31, 0.7);
  --color-nav-dark-root-subhead: #54c4bc;
  --color-runtime-preview-background: var(--color-fill-tertiary);
  --color-runtime-preview-disabled-text: rgba(110, 110, 115, 0.6);
  --color-runtime-preview-text: var(--color-figure-gray-secondary);
  --color-secondary-label: var(--color-figure-gray-secondary);
  --color-step-background: var(--color-fill-secondary);
  --color-step-caption: var(--color-figure-gray-secondary);
  --color-step-focused: var(--color-figure-light-gray);
  --color-step-text: var(--color-figure-gray-secondary);
  --color-svg-icon: #6e6e73;
  --color-syntax-attributes: #947100;
  --color-syntax-characters: #272ad8;
  --color-syntax-comments: #707f8c;
  --color-syntax-documentation-markup: #506375;
  --color-syntax-documentation-markup-keywords: #506375;
  --color-syntax-heading: #ba2da2;
  --color-syntax-keywords: #ad3da4;
  --color-syntax-marks: #000;
  --color-syntax-numbers: #272ad8;
  --color-syntax-other-class-names: #703daa;
  --color-syntax-other-constants: #4b21b0;
  --color-syntax-other-declarations: #047cb0;
  --color-syntax-other-function-and-method-names: #4b21b0;
  --color-syntax-other-instance-variables-and-globals: #703daa;
  --color-syntax-other-preprocessor-macros: #78492a;
  --color-syntax-other-type-names: #703daa;
  --color-syntax-param-internal-name: #404040;
  --color-syntax-plain-text: #000;
  --color-syntax-preprocessor-statements: #78492a;
  --color-syntax-project-class-names: #3e8087;
  --color-syntax-project-constants: #2d6469;
  --color-syntax-project-function-and-method-names: #2d6469;
  --color-syntax-project-instance-variables-and-globals: #3e8087;
  --color-syntax-project-preprocessor-macros: #78492a;
  --color-syntax-project-type-names: #3e8087;
  --color-syntax-strings: #d12f1b;
  --color-syntax-type-declarations: #03638c;
  --color-syntax-urls: #1337ff;
  --color-tabnav-item-border-color: var(--color-fill-gray);
  --color-text: var(--color-figure-gray);
  --color-text-background: var(--color-fill);
  --color-tutorial-assessments-background: var(--color-fill-secondary);
  --color-tutorial-background: var(--color-fill);
  --color-tutorial-navbar-dropdown-background: var(--color-fill);
  --color-tutorial-navbar-dropdown-border: var(--color-fill-gray);
  --color-tutorial-quiz-border-active: var(--color-figure-blue);
  --color-tutorials-overview-background: #161617;
  --color-tutorials-overview-content-alt: #f5f5f7;
  --color-tutorials-overview-eyebrow: #86868b;
  --color-tutorials-overview-icon: #9a9a9e;
  --color-tutorials-overview-link: #2997ff;
  --color-tutorials-overview-navigation-link: #86868b;
  --color-tutorials-overview-navigation-link-hover: #f5f5f7;
  --color-tutorial-hero-text: #f5f5f7;
  --color-tutorial-hero-background: #000;
  --color-navigator-item-hover: rgba(0, 113, 227, 0.05);
  --color-card-background: var(--color-fill);
  --color-card-content-text: var(--color-figure-gray);
  --color-card-eyebrow: var(--color-figure-gray-secondary-alt);
  --color-card-shadow:rgba(0, 0, 0, 0.04)
}

@media screen {
  body[data-color-scheme=dark] {
      --color-fill: #000;
      --color-fill-secondary: #161617;
      --color-fill-tertiary: #1d1d1f;
      --color-fill-blue: #0071e3;
      --color-fill-light-blue-secondary: #002a51;
      --color-fill-gray: #f5f5f7;
      --color-fill-gray-secondary: #6e6e73;
      --color-fill-gray-tertiary: #424245;
      --color-fill-gray-quaternary: #333336;
      --color-fill-green-secondary: #002b03;
      --color-fill-orange-secondary: #290d00;
      --color-fill-red-secondary: #300;
      --color-figure-blue: #2997ff;
      --color-figure-gray: #f5f5f7;
      --color-figure-gray-secondary: #86868b;
      --color-figure-gray-secondary-alt: #a1a1a6;
      --color-figure-gray-tertiary: #6e6e73;
      --color-figure-green: #03a10e;
      --color-figure-light-gray: #9a9a9e;
      --color-figure-orange: #f56300;
      --color-figure-red: #ff3037;
      --color-tutorials-teal: #54c4bc;
      --color-article-body-background: #111;
      --color-badge-default: var(--color-badge-dark-default);
      --color-button-background-active: #0071e3;
      --color-code-line-highlight: rgba(41, 151, 255, 0.08);
      --color-dropdown-background: var(--color-dropdown-dark-background);
      --color-dropdown-border: var(--color-dropdown-dark-border);
      --color-dropdown-option-text: var(--color-dropdown-dark-option-text);
      --color-dropdown-text: var(--color-dropdown-dark-text);
      --color-nav-color: var(--color-nav-dark-color);
      --color-nav-current-link: var(--color-nav-dark-current-link);
      --color-nav-expanded: var(--color-nav-dark-expanded);
      --color-nav-hierarchy-collapse-background: var(--color-nav-dark-hierarchy-collapse-background);
      --color-nav-hierarchy-collapse-borders: var(--color-nav-dark-hierarchy-collapse-borders);
      --color-nav-hierarchy-item-borders: var(--color-nav-dark-hierarchy-item-borders);
      --color-nav-keyline: var(--color-nav-dark-keyline);
      --color-nav-link-color: var(--color-nav-dark-link-color);
      --color-nav-link-color-hover: var(--color-nav-dark-link-color-hover);
      --color-nav-outlines: var(--color-nav-dark-outlines);
      --color-nav-rule: var(--color-nav-dark-rule);
      --color-nav-solid-background: var(--color-nav-dark-solid-background);
      --color-nav-sticking-expanded-keyline: var(--color-nav-dark-sticking-expanded-keyline);
      --color-nav-stuck: var(--color-nav-dark-stuck);
      --color-nav-uiblur-expanded: var(--color-nav-dark-uiblur-expanded);
      --color-nav-uiblur-stuck: var(--color-nav-dark-uiblur-stuck);
      --color-runtime-preview-disabled-text: rgba(134, 134, 139, 0.6);
      --color-syntax-attributes: #cc9768;
      --color-syntax-characters: #d9c97c;
      --color-syntax-comments: #7f8c98;
      --color-syntax-documentation-markup: #7f8c98;
      --color-syntax-documentation-markup-keywords: #a3b1bf;
      --color-syntax-keywords: #ff7ab2;
      --color-syntax-marks: #fff;
      --color-syntax-numbers: #d9c97c;
      --color-syntax-other-class-names: #dabaff;
      --color-syntax-other-constants: #a7ebdd;
      --color-syntax-other-declarations: #4eb0cc;
      --color-syntax-other-function-and-method-names: #b281eb;
      --color-syntax-other-instance-variables-and-globals: #b281eb;
      --color-syntax-other-preprocessor-macros: #ffa14f;
      --color-syntax-other-type-names: #dabaff;
      --color-syntax-param-internal-name: #bfbfbf;
      --color-syntax-plain-text: #fff;
      --color-syntax-preprocessor-statements: #ffa14f;
      --color-syntax-project-class-names: #acf2e4;
      --color-syntax-project-constants: #78c2b3;
      --color-syntax-project-function-and-method-names: #78c2b3;
      --color-syntax-project-instance-variables-and-globals: #78c2b3;
      --color-syntax-project-preprocessor-macros: #ffa14f;
      --color-syntax-project-type-names: #acf2e4;
      --color-syntax-strings: #ff8170;
      --color-syntax-type-declarations: #6bdfff;
      --color-syntax-urls: #69f;
      --color-tutorial-background: var(--color-fill-tertiary);
      --color-navigator-item-hover: rgba(0, 113, 227, 0.5);
      --color-card-shadow:hsla(0, 0%, 100%, 0.04)
  }
}

@media screen and (prefers-color-scheme: dark) {
  body {
      --color-fill: #000;
      --color-fill-secondary: #161617;
      --color-fill-tertiary: #1d1d1f;
      --color-fill-blue: #0071e3;
      --color-fill-light-blue-secondary: #002a51;
      --color-fill-gray: #f5f5f7;
      --color-fill-gray-secondary: #6e6e73;
      --color-fill-gray-tertiary: #424245;
      --color-fill-gray-quaternary: #333336;
      --color-fill-green-secondary: #002b03;
      --color-fill-orange-secondary: #290d00;
      --color-fill-red-secondary: #300;
      --color-figure-blue: #2997ff;
      --color-figure-gray: #f5f5f7;
      --color-figure-gray-secondary: #86868b;
      --color-figure-gray-secondary-alt: #a1a1a6;
      --color-figure-gray-tertiary: #6e6e73;
      --color-figure-green: #03a10e;
      --color-figure-light-gray: #9a9a9e;
      --color-figure-orange: #f56300;
      --color-figure-red: #ff3037;
      --color-tutorials-teal: #54c4bc;
      --color-article-body-background: #111;
      --color-badge-default: var(--color-badge-dark-default);
      --color-button-background-active: #0071e3;
      --color-code-line-highlight: rgba(41, 151, 255, 0.08);
      --color-dropdown-background: var(--color-dropdown-dark-background);
      --color-dropdown-border: var(--color-dropdown-dark-border);
      --color-dropdown-option-text: var(--color-dropdown-dark-option-text);
      --color-dropdown-text: var(--color-dropdown-dark-text);
      --color-nav-color: var(--color-nav-dark-color);
      --color-nav-current-link: var(--color-nav-dark-current-link);
      --color-nav-expanded: var(--color-nav-dark-expanded);
      --color-nav-hierarchy-collapse-background: var(--color-nav-dark-hierarchy-collapse-background);
      --color-nav-hierarchy-collapse-borders: var(--color-nav-dark-hierarchy-collapse-borders);
      --color-nav-hierarchy-item-borders: var(--color-nav-dark-hierarchy-item-borders);
      --color-nav-keyline: var(--color-nav-dark-keyline);
      --color-nav-link-color: var(--color-nav-dark-link-color);
      --color-nav-link-color-hover: var(--color-nav-dark-link-color-hover);
      --color-nav-outlines: var(--color-nav-dark-outlines);
      --color-nav-rule: var(--color-nav-dark-rule);
      --color-nav-solid-background: var(--color-nav-dark-solid-background);
      --color-nav-sticking-expanded-keyline: var(--color-nav-dark-sticking-expanded-keyline);
      --color-nav-stuck: var(--color-nav-dark-stuck);
      --color-nav-uiblur-expanded: var(--color-nav-dark-uiblur-expanded);
      --color-nav-uiblur-stuck: var(--color-nav-dark-uiblur-stuck);
      --color-runtime-preview-disabled-text: rgba(134, 134, 139, 0.6);
      --color-syntax-attributes: #cc9768;
      --color-syntax-characters: #d9c97c;
      --color-syntax-comments: #7f8c98;
      --color-syntax-documentation-markup: #7f8c98;
      --color-syntax-documentation-markup-keywords: #a3b1bf;
      --color-syntax-keywords: #ff7ab2;
      --color-syntax-marks: #fff;
      --color-syntax-numbers: #d9c97c;
      --color-syntax-other-class-names: #dabaff;
      --color-syntax-other-constants: #a7ebdd;
      --color-syntax-other-declarations: #4eb0cc;
      --color-syntax-other-function-and-method-names: #b281eb;
      --color-syntax-other-instance-variables-and-globals: #b281eb;
      --color-syntax-other-preprocessor-macros: #ffa14f;
      --color-syntax-other-type-names: #dabaff;
      --color-syntax-param-internal-name: #bfbfbf;
      --color-syntax-plain-text: #fff;
      --color-syntax-preprocessor-statements: #ffa14f;
      --color-syntax-project-class-names: #acf2e4;
      --color-syntax-project-constants: #78c2b3;
      --color-syntax-project-function-and-method-names: #78c2b3;
      --color-syntax-project-instance-variables-and-globals: #78c2b3;
      --color-syntax-project-preprocessor-macros: #ffa14f;
      --color-syntax-project-type-names: #acf2e4;
      --color-syntax-strings: #ff8170;
      --color-syntax-type-declarations: #6bdfff;
      --color-syntax-urls: #69f;
      --color-tutorial-background: var(--color-fill-tertiary);
      --color-navigator-item-hover: rgba(0, 113, 227, 0.5);
      --color-card-shadow:hsla(0, 0%, 100%, 0.04)
  }
}

body {
  --color-fill: #fff;
  --color-fill-secondary: #fbfbfd;
  --color-fill-tertiary: #f5f5f7;
  --color-fill-quaternary: #252525;
  --color-fill-blue: #0071e3;
  --color-fill-blue-secondary: #f6fbff;
  --color-fill-gray: #1d1d1f;
  --color-fill-gray-secondary: #86868b;
  --color-fill-gray-tertiary: #d2d2d7;
  --color-fill-gray-quaternary: #e8e8ed;
  --color-fill-green-secondary: #f5fff6;
  --color-fill-light-blue-secondary: #eaf3ff;
  --color-fill-light-gray-secondary: #f5f5f7;
  --color-fill-orange-secondary: #fff9f4;
  --color-fill-purple-secondary: #fcf8ff;
  --color-fill-red-secondary: #fff2f4;
  --color-fill-teal-secondary: #faffff;
  --color-fill-yellow-secondary: #fffef2;
  --color-figure-blue: #06c;
  --color-figure-gray: #1d1d1f;
  --color-figure-gray-secondary: #6e6e73;
  --color-figure-gray-secondary-alt: #515154;
  --color-figure-gray-tertiary: #86868b;
  --color-figure-green: #008009;
  --color-figure-light-blue: #4ca9ff;
  --color-figure-light-gray: #696969;
  --color-figure-orange: #bf4800;
  --color-figure-pink: #b0b;
  --color-figure-purple: #8c28c2;
  --color-figure-red: #e30000;
  --color-figure-teal: #007c78;
  --color-figure-yellow: #936d00;
  --color-highlight-green: #e4fee6;
  --color-highlight-red: #f8dddd;
  --color-tutorials-teal: #38a39c;
  --color-aside-deprecated: var(--color-figure-orange);
  --color-aside-deprecated-background: var(--color-fill-orange-secondary);
  --color-aside-deprecated-border: var(--color-figure-orange);
  --color-aside-experiment: var(--color-figure-purple);
  --color-aside-experiment-background: var(--color-fill-purple-secondary);
  --color-aside-experiment-border: var(--color-figure-purple);
  --color-aside-important: var(--color-figure-yellow);
  --color-aside-important-background: var(--color-fill-yellow-secondary);
  --color-aside-important-border: var(--color-figure-yellow);
  --color-aside-note: var(--color-figure-light-gray);
  --color-aside-note-background: var(--color-fill-light-gray-secondary);
  --color-aside-note-border: var(--color-figure-light-gray);
  --color-aside-tip: var(--color-figure-teal);
  --color-aside-tip-background: var(--color-fill-teal-secondary);
  --color-aside-tip-border: var(--color-figure-teal);
  --color-aside-warning: var(--color-figure-red);
  --color-aside-warning-background: var(--color-fill-red-secondary);
  --color-aside-warning-border: var(--color-figure-red);
  --color-badge-beta: var(--color-figure-teal);
  --color-badge-spi: var(--color-figure-pink);
  --color-badge-dark-beta: #00c2bb;
  --color-badge-dark-spi: #f14bf1;
  --color-button-background-active: var(--color-fill-blue);
  --color-button-background-hover: #0077ed;
  --color-changes-added: var(--color-figure-green);
  --color-changes-added-hover: var(--color-fill-green-secondary);
  --color-changes-deprecated: var(--color-figure-orange);
  --color-changes-deprecated-hover: rgba(191, 72, 0, 0.05);
  --color-changes-modified: var(--color-figure-purple);
  --color-changes-modified-hover: var(--color-fill-purple-secondary);
  --color-changes-modified-previous-background: var(--color-fill);
  --color-code-background: var(--color-fill-tertiary);
  --color-code-collapsible-background: var(--color-fill-gray-quaternary);
  --color-code-line-highlight: var(--color-fill-light-blue-secondary);
  --color-code-line-highlight-border: var(--color-figure-light-blue);
  --color-code-plain: #000;
  --color-dropdown-border: var(--color-fill-gray-tertiary);
  --color-eyebrow: inherit;
  --color-grid: var(--color-fill-gray-tertiary);
  --color-hero-eyebrow: inherit;
  --color-nav-outlines: var(--color-fill-gray-tertiary);
  --color-nav-dark-outlines: #424245;
  --color-nav-dark-solid-background: #2d2d2d;
  --color-not-found-input-background: var(--color-fill-secondary);
  --color-not-found-input-border: var(--color-fill-gray-tertiary);
  --color-step-caption: var(--color-fill-gray-tertiary);
  --color-step-focused: var(--color-figure-light-blue);
  --color-step-text: var(--color-figure-gray);
  --color-svg-icon: #86868b;
  --color-tabnav-item-border-color: var(--color-fill-gray-tertiary);
  --color-tutorial-navbar-dropdown-border: var(--color-dropdown-border);
  --color-tutorials-overview-background: radial-gradient(circle at center 70%, #242424 0%, #0c0c0c 100%);
  --color-tutorials-overview-content: #f5f5f7;
  --color-tutorials-overview-content-alt: #a1a1a6;
  --color-tutorials-overview-eyebrow: #a1a1a6;
  --color-tutorials-overview-icon: #a1a1a6;
  --color-tutorials-overview-navigation-link-active: #f5f5f7;
  --color-tutorials-overview-navigation-link-hover: #a1a1a6;
  --color-card-accent: var(--color-figure-blue);
  --color-navigator-item-hover: rgba(0, 113, 227, 0.2);
  --color-type-icon-orange: #947100;
  --color-type-icon-green: #090;
  --color-type-icon-blue: #272ad8;
  --color-type-icon-sky: #06c;
  --color-type-icon-pink: #d82797;
  --color-type-icon-teal: #509ca3;
  --color-type-icon-purple:#bf6af7
}

@media screen {
  body[data-color-scheme=dark] {
      --color-fill: #000;
      --color-fill-secondary: #161617;
      --color-fill-tertiary: #1d1d1f;
      --color-fill-blue: #0071e3;
      --color-fill-blue-secondary: #001931;
      --color-fill-gray: #f5f5f7;
      --color-fill-gray-secondary: #6e6e73;
      --color-fill-gray-tertiary: #424245;
      --color-fill-gray-quaternary: #333336;
      --color-fill-green-secondary: #002b03;
      --color-fill-light-blue-secondary: #002a51;
      --color-fill-light-gray-secondary: #323232;
      --color-fill-orange-secondary: #290d00;
      --color-fill-purple-secondary: #190325;
      --color-fill-red-secondary: #300;
      --color-fill-teal-secondary: #002d2b;
      --color-fill-yellow-secondary: #2b2000;
      --color-figure-blue: #2997ff;
      --color-figure-gray: #f5f5f7;
      --color-figure-gray-secondary: #86868b;
      --color-figure-gray-secondary-alt: #a1a1a6;
      --color-figure-gray-tertiary: #6e6e73;
      --color-figure-green: #03a10e;
      --color-figure-light-blue: #7dc1ff;
      --color-figure-light-gray: #9a9a9e;
      --color-figure-orange: #f56300;
      --color-figure-pink: #f14bf1;
      --color-figure-purple: #a95ed2;
      --color-figure-red: #ff3037;
      --color-figure-teal: #00c2bb;
      --color-figure-yellow: #ad8200;
      --color-highlight-green: #032603;
      --color-highlight-red: #410606;
      --color-tutorials-teal: #54c4bc;
      --color-article-body-background: var(--color-fill-secondary);
      --color-changes-deprecated-hover: rgba(245, 99, 0, 0.05);
      --color-code-background: var(--color-fill-gray-quaternary);
      --color-code-collapsible-background: var(--color-fill-tertiary);
      --color-code-line-highlight: var(--color-fill-gray-tertiary);
      --color-code-plain: #fff;
      --color-not-found-input-background: var(--color-fill-gray-quaternary);
      --color-step-background: var(--color-fill-gray-quaternary);
      --color-svg-icon: #6e6e73;
      --color-tutorial-navbar-dropdown-background: var(--color-nav-dark-solid-background);
      --color-tutorial-navbar-dropdown-border: var(--color-fill-gray-tertiary);
      --color-navigator-item-hover:rgba(0, 113, 227, 0.6)
  }
}

@media screen and (prefers-color-scheme: dark) {
  body {
      --color-fill: #000;
      --color-fill-secondary: #161617;
      --color-fill-tertiary: #1d1d1f;
      --color-fill-blue: #0071e3;
      --color-fill-blue-secondary: #001931;
      --color-fill-gray: #f5f5f7;
      --color-fill-gray-secondary: #6e6e73;
      --color-fill-gray-tertiary: #424245;
      --color-fill-gray-quaternary: #333336;
      --color-fill-green-secondary: #002b03;
      --color-fill-light-blue-secondary: #002a51;
      --color-fill-light-gray-secondary: #323232;
      --color-fill-orange-secondary: #290d00;
      --color-fill-purple-secondary: #190325;
      --color-fill-red-secondary: #300;
      --color-fill-teal-secondary: #002d2b;
      --color-fill-yellow-secondary: #2b2000;
      --color-figure-blue: #2997ff;
      --color-figure-gray: #f5f5f7;
      --color-figure-gray-secondary: #86868b;
      --color-figure-gray-secondary-alt: #a1a1a6;
      --color-figure-gray-tertiary: #6e6e73;
      --color-figure-green: #03a10e;
      --color-figure-light-blue: #7dc1ff;
      --color-figure-light-gray: #9a9a9e;
      --color-figure-orange: #f56300;
      --color-figure-pink: #f14bf1;
      --color-figure-purple: #a95ed2;
      --color-figure-red: #ff3037;
      --color-figure-teal: #00c2bb;
      --color-figure-yellow: #ad8200;
      --color-highlight-green: #032603;
      --color-highlight-red: #410606;
      --color-tutorials-teal: #54c4bc;
      --color-article-body-background: var(--color-fill-secondary);
      --color-changes-deprecated-hover: rgba(245, 99, 0, 0.05);
      --color-code-background: var(--color-fill-gray-quaternary);
      --color-code-collapsible-background: var(--color-fill-tertiary);
      --color-code-line-highlight: var(--color-fill-gray-tertiary);
      --color-code-plain: #fff;
      --color-not-found-input-background: var(--color-fill-gray-quaternary);
      --color-step-background: var(--color-fill-gray-quaternary);
      --color-svg-icon: #6e6e73;
      --color-tutorial-navbar-dropdown-background: var(--color-nav-dark-solid-background);
      --color-tutorial-navbar-dropdown-border: var(--color-fill-gray-tertiary);
      --color-navigator-item-hover:rgba(0, 113, 227, 0.6)
  }
}
